.main{
    display: flex;
   justify-content: space-around;
}
.sub{
    background-color: gray;
    border: 2px solid black;
    height: 150px;
    margin-right: 10px;
}
.divs{
    text-align: end;
    
}
.menu1{
    background-color: rgb(201, 50, 126);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0px 10px 0px 10px;
}
.menu2{
    background-color: brown;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0px 10px 0px 10px;
    color: white;
}
.menu3{
    background-color: rgb(172, 172, 22);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0px 10px 0px 10px;
}
.head{
    text-align: center;
}